@import "./colors"

%card
  padding: 1rem 2rem
  background-color: #fff
  box-shadow: 0 0 6px $color-gray
  border-radius: 3px
  margin: 1rem
  @media screen and (min-width: 800px)
    margin: 0 0 1rem