@import "./colors"

.input-field
  display: flex
  flex-direction: column
  position: relative
  margin: 0.5rem 0
  @media screen and (min-width: 800px)
    margin: 0.5rem
  input, select, textarea
    outline: none
    font-family: inherit
    color: #777
    padding: 0.5rem
    letter-spacing: 0.8px
    border: 1px solid lighten($color-gray, 5%)
    border-radius: 1px
    resize: none
    font-size: 0.8rem
  .input-field__wrapper
    display: flex
    align-items: center
    position: relative
    min-width: 100px
    .input-field__description
      padding: 0 0.5rem
  .input-field__hint
    display: flex
    justify-content: space-between
    font-size: 0.6rem
    font-style: italic
    font-weight: 300
    letter-spacing: 1px
    color: $color-gray
    padding-top: 5px
  .input-field--error
    border-color: lighten($color-type-danger, 40%)
  ::placeholder
    letter-spacing: 0.8px
    opacity: 0.5
  ::-ms-input-placeholder
    letter-spacing: 0.8px
    opacity: 0.5
  .input-field__arrow
    pointer-events: none
    position: absolute
    right: 0.8rem
    top: 0.9rem
    width: 0
    height: 0
    border-left: 0.4rem solid transparent
    border-right: 0.4rem solid transparent
    border-top: 0.4rem solid lighten($color-type-primary, 30%)
    transition: 0.1s
  .input-field__arrow--active
    transform: rotate(180deg)