<template lang="pug">
  .event-form
    card(header="About")
      form-item(
      label="title"
      required,
      :error-message="errorMessages.title"
      )
        input-text(
        v-model="title"
        placeholder="Make it short and clear"
        required,
        :is-error="!!errorMessages.title"
        )
      form-item(
      label="description"
      required,
      :error-message="errorMessages.description"
      )
        input-textarea(
        v-model="description"
        required,
        placeholder="Write about your event, be creative"
        :is-error="!!errorMessages.description"
        )
      form-item(label="category")
        input-select(
        :items="categories"
        v-model="categoryId"
        item-display-key="name"
        placeholder="Select category"
        hint="Describes topic and people who should be interested in this event"
        )
          div(
          slot-scope="{item}"
          slot="item"
          @click="categoryId = item.id"
          )
            list-item(
            :label="item.name"
            :selected="categoryId === item.id"
            )
      form-item(
      label="payment"
      :error-message="errorMessages.payment"
      )
        div(:class="$style.multiple")
          input-radio-buttons(
          v-model="payment"
          :buttons="paymentType"
          buttons-key="paid"
          :radio-buttons-class="$style['radio-buttons']"
          )
          input-text(
          v-if="payment"
          v-model="eventFee"
          placeholder="Fee"
          required,
          :is-error="!!errorMessages.payment"
          description="$"
          width="4rem"
          )
      form-item(
      label="reward"
      :error-message="errorMessages.reward"
      )
        input-text(
        v-model="reward"
        placeholder="Number"
        description="Reward points for attendance"
        width="4.6rem"
        :is-error="!!errorMessages.reward"
        )

    card(header="Coordinator")
      form-item(
      label="responsible"
      required
      )
        input-select(
        :selected-value="employeeDisplayName(selectedEmployee)"
        )
          input-select-group(
          :items="loggedEmployee"
          label="Me"
          )
            div(
            slot-scope="{item}"
            slot="item"
            @click="coordinator.id = item.id"
            )
              list-item(
              group
              :label="employeeFullName(item)"
              :selected="coordinator.id === item.id"
              )
          input-select-group(
          :items="otherEmployees"
          label="Others"
          )
            div(
            slot-scope="{item}"
            slot="item"
            @click="coordinator.id = item.id"
            )
              list-item(
              group
              :label="employeeFullName(item)"
              :selected="coordinator.id === item.id"
              )
      form-item(
      label="email"
      :error-message="errorMessages.email"
      )
        input-text(
        v-model="coordinator.email"
        placeholder="Email"
        :is-error="!!errorMessages.email"
        )

    card(header="When")
      form-item(
      label="starts on"
      required,
      :error-message="errorMessages.date"
      )
        event-date(
        @date="date = $event"
        :validate="$v.$dirty"
        )
      form-item(
      label="duration"
      :error-message="errorMessages.duration"
      )
        input-text(
        v-model="duration"
        placeholder="Number"
        description="hour"
        width="4.6rem"
        :is-error="!!errorMessages.duration"
        )
    div(:class="$style.submit")
      button(@click="validateEvent") Publish event
</template>

<script>
import Card from "../commons/Card";
import FormItem from "./FormItem";
import InputText from "../commons/inputs/inputText";
import InputTextarea from "../commons/inputs/inputTextarea";
import InputSelect from "../commons/inputs/inputSelect";
import InputRadioButtons from "../commons/inputs/inputRadioButtons";
import EventDate from "./EventDate";
import categories from "../../task/mocks/categories";
import employees from "../../task/mocks/employes";
import formValidationMixin from "../../mixins/formValidationMixin";
import { paymentType } from "../../utils/radioButtons";
import ListItem from "../commons/inputs/ListItem";
import InputSelectGroup from "../commons/inputs/inputSelectGroup";
export default {
  components: {
    InputSelectGroup,
    ListItem,
    Card,
    FormItem,
    InputText,
    InputTextarea,
    InputSelect,
    InputRadioButtons,
    EventDate
  },
  mixins: [formValidationMixin],
  data() {
    return {
      categories,
      employees,
      paymentType,
      loggedEmployeeId: 3,
      title: "",
      description: "",
      categoryId: null,
      coordinator: {
        id: null,
        email: ""
      },
      payment: false,
      eventFee: "",
      reward: "",
      duration: "",
      date: ""
    };
  },
  computed: {
    loggedEmployee() {
      return employees.filter(
        employee => employee.id === this.loggedEmployeeId
      );
    },
    otherEmployees() {
      return employees.filter(
        employee => employee.id !== this.loggedEmployeeId
      );
    },
    selectedEmployee() {
      return employees.find(employee => {
        return employee.id === this.coordinatorId;
      });
    },
    durationInSeconds() {
      return this.duration * 3600;
    },
    coordinatorId() {
      return parseInt(this.coordinator.id);
    },
    coordinatorEmail() {
      return this.coordinator.email || this.selectedEmployee.email;
    },
    eventDetails() {
      return {
        title: this.title,
        description: this.description,
        category_id: this.categoryId,
        paid_event: this.payment,
        event_fee: Number(this.eventFee),
        reward: Number(this.reward),
        date: this.date,
        duration: this.durationInSeconds,
        coordinator: {
          id: this.coordinatorId,
          email: this.coordinatorEmail
        }
      };
    }
  },
  created() {
    this.coordinator.id = this.loggedEmployeeId;
  },
  methods: {
    employeeFullName(employee) {
      return `${employee.name} ${employee.lastname}`;
    },
    employeeDisplayName(employee) {
      if (employee.id === this.loggedEmployeeId) {
        return `Me - ${this.employeeFullName(employee)}`;
      } else {
        return this.employeeFullName(employee);
      }
    },
    validateEvent() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.$emit("publish", this.eventDetails);
      }
    }
  }
};
</script>

<style lang="sass" module>
  @import "../../sass/colors"
  .multiple
    display: flex
    align-items: center
    flex-wrap: wrap
  .radio-buttons
    display: flex
    margin: 1.1rem 0.5rem
  .submit
    display: flex
    justify-content: center
  button
    padding: 1rem 1.5rem
    border: none
    outline: none
    color: #fff
    border-radius: 3px
    text-transform: uppercase
    background-color: $color-orange
    cursor: pointer
    transition: 0.2s
    &:hover
      box-shadow: 1px 1px 2px $color-gray
</style>
