<template lang="pug">
  div(:class="$style['event-date']")
    input-date(
    v-model="date"
    placeholder="yyyy/mm/dd"
    format="YYYY/MM/DD"
    :is-error="isNotValidDate(date)"
    )
    div(:class="$style['event-date__time']")
      div(:class="$style['event-date__time__at']") at
      input-time(
      v-model="time"
      placeholder="--:--"
      width="5.3rem"
      :is-error="isNotValidDate(time)"
      )
      input-radio-buttons(
      v-model="am"
      :buttons="timeType"
      buttons-key="am"
      :radio-buttons-class="$style['event-date__time__ampm']"
      )
</template>

<script>
import InputDate from "../commons/inputs/inputDate";
import InputTime from "../commons/inputs/inputTime";
import InputRadioButtons from "../commons/inputs/inputRadioButtons";
import { timeType } from "../../utils/radioButtons";
import { parse, isPast } from "date-fns";
export default {
  props: {
    /**
     * Initialize date validator
     */
    validate: {
      type: Boolean,
      default: false
    }
  },
  components: {
    InputTime,
    InputDate,
    InputRadioButtons
  },
  data() {
    return {
      date: "",
      time: "",
      am: true,
      timeType
    };
  },
  computed: {
    timeValue() {
      let hours = this.time.slice(0, 2);
      let minutes = this.time.slice(-2);
      if (hours && minutes) {
        return this.am ? this.time : `${Number(hours) + 12}:${minutes}`;
      } else {
        return "";
      }
    },
    formatedDate() {
      return `${this.date}T${this.timeValue}`;
    },
    parsedDate() {
      return parse(this.formatedDate);
    }
  },
  watch: {
    formatedDate(date) {
      if (this.date && this.timeValue) {
        this.$emit("date", date);
      }
    }
  },
  methods: {
    isNotValidDate(date) {
      return this.validate && (!date || isPast(this.parsedDate));
    }
  }
};
</script>

<style lang="sass" module>
  .event-date
    display: flex
    align-items: center
    flex-wrap: wrap
    @media screen and (min-width: 800px)
      flex-wrap: nowrap
  .event-date__time
    display: flex
    align-items: center
    padding: 0 0.5rem
  .event-date__time__at
    padding-right: 0.5rem
  .event-date__time__ampm
    @media screen and (min-width: 1000px)
      display: flex
      margin: 1rem 0.5rem
</style>
