<template lang="pug">
  .label
    .label__text(:class="{'label__text--error': error}") {{ label }}
    .label__required(v-if="required") *
</template>

<script>
export default {
  props: {
    /**
     * Sets item label
     */
    label: {
      type: String,
      default: ""
    },
    /**
     * Sets label color to red
     */
    error: {
      type: Boolean,
      default: false
    },
    /**
     * Decides if red star at end of label is visible
     */
    required: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {};
  }
};
</script>

<style lang="sass" scoped>
  @import "../../sass/colors"

  .label
    color: lighten($color-type-primary, 30%)
    display: flex
    text-transform: uppercase
    .label__required
      margin: -1px 0 0 0.2rem
      color: lighten($color-type-danger, 30%)
    .label__text--error
      color: lighten($color-type-danger, 30%)
</style>
