<template lang="pug">
  .tooltip
    .tooltip__title {{ title }}
</template>

<script>
export default {
  props: {
    /**
     * Sets tooltip text
     */
    title: {
      type: String,
      default: ""
    }
  },
  data() {
    return {};
  }
};
</script>

<style lang="sass" scoped>
  @import "../../sass/colors"

  .tooltip
    display: flex
    position: relative
    align-items: center
    height: fit-content
    color: lighten($color-type-danger, 40%)
    font-size: 0.7rem
    letter-spacing: 0.5px
    padding: 0
    border-radius: 1px
    &:before
      content: ""
      position: absolute
      top: 0.38rem
      left: -0.2rem
      width: 0.5rem
      height: 0.5rem
      transform: rotate(45deg)
      background-color: inherit
    @media screen and (min-width: 800px)
      color: #fff
      background-color: lighten($color-type-danger, 40%)
      margin-left: 0.3rem
      padding: 0.2rem 0.4rem
</style>
