<template lang="pug">
  .form-item
    .form-item-label
      form-item-label(
      :label="label"
      :error="isError"
      :required="required"
      )
    .form-item-content
      slot
    .form-item-tooltip
      form-item-tooltip(
      v-if="isError"
      :title="errorMessage"
      )
</template>

<script>
import FormItemLabel from "./FormItemLabel";
import FormItemTooltip from "./FormItemTooltip";
export default {
  components: { FormItemTooltip, FormItemLabel },
  props: {
    /**
     * Sets item label
     */
    label: {
      type: String,
      default: ""
    },
    /**
     * Sets error message
     */
    errorMessage: {
      type: [String, Boolean],
      default: false
    },
    /**
     * Sets red star indicator to label
     */
    required: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {};
  },
  computed: {
    isError() {
      return !!this.errorMessage;
    }
  }
};
</script>

<style lang="sass" scoped>
  .form-item
    display: flex
    flex-direction: column
    align-items: baseline
    width: 100%
    margin-bottom: 1.5rem
    font-size: 0.8rem
  .form-item-label
    min-width: 6rem
    padding: 0
    width: 100%
  .form-item-content
    width: 100%
  .form-item-tooltip
    width: 100%
    margin-top: -0.3rem
  @media screen and (min-width: 800px)
    .form-item
      flex-direction: row
      margin-bottom: 0.5rem
    .form-item-label
      padding: 0.7rem 0
      width: auto
    .form-item-tooltip
      margin-top: 0
      min-width: 8.5rem
      width: auto
</style>
