.slide-down-enter-active, .slide-down-leave-active
  transition: all .2s ease
  transform-origin: center top

.slide-down-enter, .slide-down-leave-to
  opacity: 0
  transform: scaleY(0) translateY(-1rem)