<template lang="pug">
  .input-radio-buttons(:class="radioButtonsClass")
    .radio-button(v-for="button in buttons")
      input(
      v-model="picked"
      type="radio"
      :value="button[buttonsKey]"
      :id="button.id"
      )
      label(
      v-if="button.label"
      :for="button.id"
      ) {{ button.label }}
</template>

<script>
export default {
  props: {
    /**
     * v-model value
     */
    value: {
      type: [Boolean, Number, String],
      default: null
    },
    /**
     * Array of radio buttons objects
     */
    buttons: {
      type: Array,
      default: () => []
    },
    /**
     * Key property from 'props.buttons' objects to be passed as value
     */
    buttonsKey: {
      type: String,
      default: ""
    },
    /**
     * Set styles
     * Parent style tag requires module attribute
     */
    radioButtonsClass: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      picked: null
    };
  },
  watch: {
    picked() {
      this.$emit("input", this.picked);
    }
  },
  created() {
    this.picked = this.value;
  }
};
</script>

<style lang="sass" scoped>
  @import "../../../sass/colors"

  .input-radio-buttons
    .radio-button
      padding-right: 1rem
  [type="radio"]:checked,
  [type="radio"]:not(:checked)
    position: absolute
    left: -9999px

  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label

    position: relative
    padding-left: 24px
    cursor: pointer
    line-height: 17px
    display: inline-block

  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 14px
    height: 14px
    border: 1px solid lighten($color-type-primary, 30%)
    border-radius: 100%
    background: #fff

  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after
    content: ''
    width: 8px
    height: 8px
    background: lighten($color-type-primary, 30%)
    position: absolute
    top: 4px
    left: 4px
    border-radius: 100%
    -webkit-transition: all 0.2s ease
    transition: all 0.2s ease

  [type="radio"]:not(:checked) + label:after
    opacity: 0
    -webkit-transform: scale(0)
    transform: scale(0)

  [type="radio"]:checked + label:after
    opacity: 1
    -webkit-transform: scale(1)
    transform: scale(1)

</style>
