<template lang="pug">
  .input-field
    .input-field__wrapper
      input(
      ref="input"
      :value="value"
      type="time"
      @input="updateInputValue"
      :class="{'input-field--error': isError}"
      :style="{width: inputWidth}"
      :min="min"
      :max="max"
      v-bind="attrs"
      v-on="listeners"
      )
      .input-field__description(v-if="description") {{ description }}
    .input-field__hint(v-if="hint") {{ hint }}
</template>

<script>
import inputMixin from "../../../mixins/inputMixin";
export default {
  mixins: [inputMixin],
  props: {
    /**
     * Sets 12h time format.
     */
    american: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    minTimeValue() {
      return this.american ? "01:00" : "00:00";
    },
    maxTimeValue() {
      return this.american ? "12:00" : "24:00";
    },
    min() {
      return this.$attrs.min || this.minTimeValue;
    },
    max() {
      return this.$attrs.max || this.maxTimeValue;
    },
    attrs() {
      const { min, max, ...attrs } = this.$attrs;
      return attrs;
    }
  }
};
</script>

<style lang="sass" scoped>
  @import "../../../sass/inputField"
  input
    height: 34px
</style>
