<template lang="pug">
  .input-field
    .input-field__wrapper
      input(
      type="text"
      @input="updateInputValue"
      :value="dateValue"
      :class="{'input-field--error': isError}"
      :style="{width: inputWidth}"
      v-bind="$attrs"
      )
      input(
      type="date"
      ref="input"
      v-model="date"
      @input="updateInputValue"
      v-on="listeners"
      )
    .input-field__hint(v-if="hint") {{ hint }}
</template>

<script>
import inputMixin from "../../../mixins/inputMixin";
import { format } from "date-fns";
export default {
  mixins: [inputMixin],
  props: {
    /**
     * Date format
     * e.g. "yyyy/mm/dd"
     */
    format: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      date: ""
    };
  },
  computed: {
    dateValue() {
      return this.date ? format(this.date, this.format) : "";
    }
  }
};
</script>

<style lang="sass" scoped>
  @import "../../../sass/inputField"
  input[type="date"]
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-color: transparent
    color: transparent
    outline: none
    border: 0
    padding: 0 3px
    &::-webkit-clear-button
      display: none
    &::-webkit-inner-spin-button
      display: none
    &::-webkit-calendar-picker-indicator
      color: transparent
      background-color: transparent
      width: 100%
      height: 100%
  .date-picker--open
    z-index: 20
</style>
