<template lang="pug">
  .input-select-group
    .input-select-group__label {{ label }}
    slot(
      v-for="item in items"
      name="item"
      :item="item"
    )
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => []
    },
    label: {
      type: String,
      default: ""
    }
  },
  data() {
    return {};
  },
  computed: {}
};
</script>

<style lang="sass" scoped>
  .input-select-group
    .input-select-group__label
      padding: 0.5rem 0.5rem 0
      opacity: 0.6
</style>
