<template lang="pug">
  .input-field
    .input-field__wrapper
      input(
      type="text"
      ref="input"
      :value="value"
      @input="updateInputValue"
      :class="{'input-field--error': isError}"
      :style="{width: inputWidth}"
      v-on="listeners"
      v-bind="$attrs"
      )
      .input-field__description(v-if="description") {{ description }}
    .input-field__hint(v-if="hint") {{ hint }}
</template>

<script>
import InputMixins from "../../../mixins/inputMixin";
export default {
  mixins: [InputMixins]
};
</script>

<style lang="sass" scoped>
  @import "../../../sass/inputField"
</style>
