<template lang="pug">
  .input-field
    textarea(
    ref="input"
    :value="value"
    @input="updateInputValue"
    :maxlength="maxlength"
    :rows="rows"
    :class="{'input-field--error': isError}"
    :style="{width: inputWidth}"
    v-bind="attrs"
    v-on="listeners"
    )
    .input-field__hint(v-if="hint") {{ hint }}
    .input-field__hint(v-if="!hint && maxlength")
      span {{ `Max length ${maxlength} characters` }}
      span {{ counter }}
</template>

<script>
import InputMixins from "../../../mixins/inputMixin";
export default {
  mixins: [InputMixins],
  computed: {
    counter() {
      return `${this.value.length}/${this.maxlength}`;
    },
    maxlength() {
      return this.$attrs.maxlength || 140;
    },
    rows() {
      return this.$attrs.rows || 8;
    },
    attrs() {
      const { maxlength, rows, ...attrs } = this.$attrs;
      return attrs;
    }
  }
};
</script>

<style lang="sass" scoped>
  @import "../../../sass/inputField"
</style>
