<template lang="pug">
  .input-field
    .input-field__select
      input(
        ref="input"
        type="text"
        :value="displayedValue"
        readonly
        v-on="listeners"
        v-bind="$attrs"
      )
      transition(name="slide-down")
        .select-list(
          ref="selectList"
          v-if="open"
          :style="selectListStyle"
        )
          div(
            v-if="items"
            v-for="item in items"
          )
            slot(
              name="item"
              :item="item"
            )
          slot
      .input-field__description(v-if="description") {{ description }}
    .input-field__arrow(:class="{'input-field__arrow--active': open}")
    .input-field__hint(v-if="hint") {{ hint }}
</template>

<script>
import InputMixins from "../../../mixins/inputMixin";
export default {
  mixins: [InputMixins],
  props: {
    itemDisplayKey: {
      type: [String, Number],
      default: null
    },
    itemIterateKey: {
      type: String,
      default: "id"
    },
    items: {
      type: Array,
      default: () => []
    },
    selectedValue: {
      type: String,
      default: ""
    },
    maxHeight: {
      type: [Number, String],
      default: 200
    }
  },
  data() {
    return {
      open: false,
      top: null
    };
  },
  computed: {
    isValue() {
      return !!this.value || this.value === 0;
    },
    displayedValue() {
      return (
        (this.isValue &&
          this.itemDisplayKey &&
          this.items.find(item => item[this.itemIterateKey] === this.value)[
            this.itemDisplayKey
          ]) ||
        this.selectedValue
      );
    },
    selectListStyle() {
      return [
        { top: this.top },
        { "max-height": `${parseInt(this.maxHeight)}px` }
      ];
    }
  },
  watch: {
    open(val) {
      if (val) this.onListOpen();
    }
  },
  mounted() {
    window.addEventListener("click", this.closeSelectList, true);
  },
  beforeDestroy() {
    window.removeEventListener("click", this.closeSelectList, true);
  },
  methods: {
    closeSelectList(event) {
      if (event.target === this.$refs.input) {
        this.open = !this.open;
      } else {
        this.open = false;
      }
    },
    calculateListPosition(totalHeight) {
      if (totalHeight > window.innerHeight) {
        this.top = `${-Math.abs(
          totalHeight - window.innerHeight - this.$refs.input.clientHeight
        )}px`;
      } else {
        this.top = "100%";
      }
    },
    async onListOpen() {
      const inputBottomPosition = await this.$refs.input.getBoundingClientRect();
      const listHeight = await this.$refs.selectList.offsetHeight;
      const totalHeight = inputBottomPosition.bottom + listHeight;
      this.calculateListPosition(totalHeight);
    }
  }
};
</script>

<style lang="sass" scoped>
  @import "../../../sass/inputField"
  @import "../../../sass/transitions/slide-down"
  .input-field__select
    position: relative
    input
      cursor: pointer
      width: 100%
    .select-list
      background-color: lighten($color-type-primary, 60%)
      border: 1px solid lighten($color-type-primary, 50%)
      width: 100%
      z-index: 10
      position: absolute
      -webkit-box-shadow: 1px 1px 2px lighten($color-type-primary, 55%)
      -moz-box-shadow: 1px 1px 2px lighten($color-type-primary, 55%)
      box-shadow: 1px 1px 2px lighten($color-type-primary, 55%)
      overflow: auto
</style>
