<template lang="pug">
  .list-item(
    :class="listItemClass"
    @click="$emit('click')"
  ) {{ label }}
</template>

<script>
export default {
  components: {},
  props: {
    label: {
      type: String,
      default: ""
    },
    selected: {
      type: Boolean,
      default: false
    },
    group: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {};
  },
  computed: {
    listItemClass() {
      return [
        { "list-item--selected": this.selected },
        { "list-item--group": this.group }
      ];
    }
  },
  methods: {}
};
</script>

<style lang="sass" scoped>
  @import "../../../sass/inputField"
  .list-item
    padding: 0.25rem 0.5rem
    cursor: pointer
    &:hover
      @extend .list-item--selected
  .list-item--selected
    background-color: lighten($color-type-primary, 30%)
    color: #ffffff
  .list-item--group
    padding: 0.25rem 1.2rem
</style>
