<template lang="pug">
  .event
    .event__header
      .event__header__title {{ title }}
    .event__form
      .event__form__content
        event-form(
        v-if="!event"
        @publish="onEventPublish"
        )
        alert(
        v-else,
        header="Success"
        type="success"
        message="Event has been created"
        )
</template>

<script>
import Alert from "./commons/Alert";
import EventForm from "./form/EventForm";
export default {
  components: { EventForm, Alert },
  props: {
    /**
     * Sets event form title
     */
    title: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      event: null
    };
  },
  methods: {
    onEventPublish(event) {
      this.event = event;
      console.log("Published event: ", this.event);
    }
  }
};
</script>

<style lang="sass" scoped>
  @import "../sass/colors"
  $width: 80%
  $mobile-width: 100%
  $max-width: 800px

  .event
    .event__header
      background-color: $color-type-primary
      border-top: 0.8rem solid darken($color-type-primary, 13%)
      color: #fff
      display: flex
      justify-content: center
      .event__header__title
        font-size: 1.5rem
        padding: 1rem 2rem
        width: $mobile-width
        max-width: $max-width
        font-weight: 100
        margin: 0 1rem
        @media screen and (min-width: 800px)
          width: $width
    .event__form
      display: flex
      justify-content: center
      .event__form__content
        width: $mobile-width
        max-width: $max-width
        padding: 0 0 1.5rem
        @media screen and (min-width: 800px)
          width: $width
          padding: 1.5rem 0
</style>
