<template lang="pug">
  .alert(:class="alertClass")
    .alert__header(:class="alertHeaderClass") {{ header }}
    .alert__message {{ message }}
    slot
</template>

<script>
export default {
  props: {
    /**
     * Sets alert header
     */
    header: {
      type: String,
      default: ""
    },
    /**
     * Sets alert message
     */
    message: {
      type: String,
      default: ""
    },
    /**
     * Color type
     * Accepted values: "success", "danger", "warning", "info", "primary"
     */
    type: {
      type: String,
      default: ""
    }
  },
  data() {
    return {};
  },
  computed: {
    alertHeaderClass() {
      return `alert__header--${this.type}`;
    },
    alertClass() {
      return `alert--${this.type}`;
    }
  }
};
</script>

<style lang="sass" scoped>
  @import "../../sass/card"
  .alert
    @extend %card
    .alert__header
      font-size: 1.2rem
      padding: 0 0 1rem
      line-height: 1
    .alert__message
      font-size: 0.8rem

  @each $color-type, $color in $color-types-map
    &.alert__header--#{$color-type}
      color: $color
    &.alert--#{$color-type}
      background-color: lighten($color, 45%)
</style>
