<template lang="pug">
  .card
    .card__header(v-if="header") {{ header }}
    slot
</template>

<script>
export default {
  props: {
    /**
     * Sets card header
     */
    header: {
      type: String,
      default: ""
    }
  },
  data() {
    return {};
  }
};
</script>

<style lang="sass" scoped>
  @import "../../sass/card"
  .card
    @extend %card
    .card__header
      color: $color-type-primary
      border-bottom: 1px solid $color-gray
      padding-bottom: 0.5rem
      margin-bottom: 1rem
</style>
