<template lang="pug">
  #app
    event(title="New event")
</template>

<script>
import Event from "./components/Event";
export default {
  components: { Event }
};
</script>

<style lang="sass">
  html, body
    margin: 0
    padding: 0
    *
      box-sizing: border-box
  #app
    font-family: 'Roboto', sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    min-height: 100vh
    color: #777
    background-color: #f7f7f7
</style>
